.key {
  margin: auto;
  border-radius: 10px 0 0px 10px;
}
.KeyContainer{
  width: 700px;
  height:200px;
  border: 1px;
  position: relative;
  margin: auto;
}

.A {
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;

}

.B {
  position: absolute;
  bottom: 500px;
  left: 36px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.C {
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 50px;

}

.D {
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 100px;
}

.E{
  position: absolute;
  bottom: 500px;
  left: 136px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;

}

.F{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 150px;
}

.G{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 200px;
}

.H{
  position: absolute;
  bottom: 500px;
  left: 185px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;

}

.I{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 250px;
}

.J{
  position: absolute;
  bottom: 500px;
  left: 286px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.K{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 300px;
}

.L{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 350px;
}

.M{
  position: absolute;
  bottom: 500px;
  left: 336px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.N{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 400px;
}

.O{
  position: absolute;
  bottom: 500px;
  left: 386px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.P{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 450px;
}

.Q{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 500px;
}

.R{
  position: absolute;
  bottom: 500px;
  left: 486px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.S{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 550px;
}

.T{
  position: absolute;
  bottom: 500px;
  left: 536px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.U{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 600px;
}

.V{
  position: absolute;
  bottom: 500px;
  left: 586px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;
}

.W{
  border: 1px solid black;
  width: 50px;
  height: 200px;
  rotate: 180 deg;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: -0px;
  left: 650px;
}

.X{
  position: absolute;
  bottom: 500px;
  left: 636px;
  top: -0px;
  display: block;
  width: 32px;
  height: 117px;
  background: #000;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 0 #555 2px 2px 0 #555;

}
